import os

APP_ICON = 'your app icon name'

APP_NAME = 'your app title'

DB_HOST = 'localhost'

DB_USERNAME = 'root'

DB_PASSWORD = ''

DB_NAME = 'your DB name'

SECRET_KEY = 'secret_xxx'

CURRENT_WORKING_DIRECTORY = os.getcwd()

UPLOAD_FOLDER = 'upload folder files'

ALLOWED_EXTENSIONS = {} #Todo: Enter your allowed extensions
