{% extends 'html_structure.html' %}

{% block icon %}
{{ icon }}
{% endblock %}

{% block title %}
{{ article[1] }}
{% endblock %}

{% block content %}
    {% if article %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ article[1] }}</h1>
                            <div class="text-muted fst-italic mb-2">دسته بندی: {{ category[1] }}</div>
                            <div class="text-muted fst-italic mb-2">نویسنده: {{ writer[1] }}</div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="/static/articles_images/{{ article[2] }}" alt="تصویری به نمایش در نیامد." />
                            {% if current_user.is_authenticated %}
                                <br><br><a href="/edit-article/{{ article[0] }}" class="btn btn-warning" style="color: white;">ویرایش</a>
                            {% endif %}
                        </figure>
                        {{ article[5]|safe }}
                        <hr>
                        {{ article[6]|safe }}
                        <br><br>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                                {% if comments %}
                                    {% for comment in comments %}
                                        <div class="d-flex">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="/static/icons/user.png" alt="کاربر" style="width: 80px;" /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">{{ comment[1] }}</div>
                                                {{ comment[3] }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <b>کامنتی یافت نشد.</b>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">جستجو</div>
                        <div class="card-body">
                            <form action="/search" method="GET">
                                <input class="form-control" type="text" name="searched_word" placeholder="جستجو..." aria-label="جستجو..." aria-describedby="button-search" /><br>
                                <input type="submit" value="جستجو" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">دسته بندی ها</div>
                        <div class="card-body">
                            <div class="row">
                                {% if categories %}
                                    <ul class="list-unstyled mb-0">
                                        {% for category in categories %}
                                            <li><a href="/category/{{ category[0] }}" style="text-decoration: none;">{{ category[1] }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    دسته بندی وجود ندارد.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <br><div class="alert alert-danger" style="margin: 5px;">مقاله ای یافت نشد!</div><br>
    {% endif %}
{% endblock %}
